/* SearchLinks.jsx */
.SearchLinks {
  padding: 30px;
}

.SearchLinks label {
  font-size: larger;
}

.SearchLinks select {
  border-radius: 6px;
  padding: 4px;
  margin-left: 20px;
  font-family: "Cascadia Mono";
}

/* Search.jsx */

.Search {
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.Search input {
  border-radius: 6px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 6px;
  font-family: "Cascadia Mono";
}

/* common style */

.Category > h1,
.Area > h1,
.Search > h1,
.About > h1,
.Contact > h1,
.Ingredient > h1,
.MealsByArea > h1,
.MealDetail > h1 {
  text-align: center;
  padding: 20px;
}

/* About */
.About {
  max-width: 90%;
  margin: auto;
}

.About-photo {
  text-align: center;
  margin-top: 20px;
}

.About-message{
  max-width: 70%;
  margin:auto;
}

/* Contact */
.Contact {
  min-width: 80%;
  margin: auto;
  text-align: center;
}

/* MealDetail */

.MealDetail {
  width: 100%;
  margin: auto;
  height: 100vh;
}

.MealDetail aside {
  font-family: "Cascadia Mono";
  font-weight: 200;
}

.MealDetail-img-div {
  width: 100%;
  margin: 20px auto 20px;
  text-align: center;
}

.MealDetail section {
  width: 60%;
  margin: auto;
  text-align: center;
}
.back-btn {
  text-align: center;
  margin-top: 20px;
}

/* Ingredient */

.Ingredient {
  height: 100%;
}

.Ingredient-list-div {
  padding: 50px;
}

/* MealsByArea */
.MealsbyArea {
  text-align: center;
  /* min-height:100vh; */
}



.UpBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  border-radius: 100%;
  border-style: none;
  background-color: rgb(198, 150, 243);
}

.UpBtn:hover {
  background-color: rgb(177, 107, 243);
}

.Loading{
  text-align: center;
  padding:100px;
}

.Loading h1{
  padding:20px;
}
